### Loops in Python

In [4]:
seq = [1,2,3,4,5]

In [6]:
for i in seq:
    print(i)

1
2
3
4
5

In [7]:
for num in seq:
    print('hello!')

hello!
hello!
hello!
hello!
hello!

In [10]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [11]:
for num in seq:
    print(num)

1
2
3
4
5

In [12]:
range(0,5)

range(0, 5)

In [69]:
list(range(0, 10, 2)) # range(start -> inclusive, stop -> exclusive, step size)

[0, 2, 4, 6, 8]

In [64]:
for num in range(0, 5):
    print(num)

0
1
2
3
4

In [16]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [17]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
x = [1,2,3,4]

In [35]:
out = []

In [36]:
for num in x:
    out.append(num ** 2)

In [37]:
print(out)

[1, 4, 9, 16]

In [38]:
[num**2 for num in x]

[1, 4, 9, 16]

In [39]:
out = [num**2 for num in x] # List Comprehension

In [40]:
out

[1, 4, 9, 16]

### Functions in Python

In [51]:
def my_func(param1):
    print(param1)

In [52]:
my_func('hello')

hello

In [53]:
def func(name):
    print('Hello {}'.format(name))

In [54]:
func('Soumik')

Hello Soumik

In [57]:
def func(name = "Default Name"):
    print("Hello " + name)

In [58]:
func()

Hello Default Name

In [59]:
func('Jose')

Hello Jose

In [62]:
def square(num):
    """ 
    This is a docstring.
    Can go multiple lines.
    This function squares the number.
    """
    return num ** 2

In [63]:
output = square(2)
print(output)

4

In [70]:
def times2(num):
    return num * 2

In [71]:
times2(5)

10

### Map Function

In [72]:
seq = [1,2,3,4,5]

In [73]:
map(times2, seq)

In [74]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

### Lambda Expression

In [75]:
lambda num : num * 2

In [76]:
t = lambda num : num * 3

In [77]:
t(2)

6

Instead of writing a function for a map, we can simply use the lambda expression.

In [79]:
seq = [1,2,3,4,5,6,7,8,9,10]

In [80]:
list(map(lambda num : num * 2, seq))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [81]:
list(filter(lambda num : num % 2 == 0, seq))

[2, 4, 6, 8, 10]

### Different Methods in Python

In [82]:
s = 'hello, my name is Soumik'

In [83]:
s

'hello, my name is Soumik'

In [84]:
s.lower()

'hello, my name is soumik'

In [85]:
s.upper()

'HELLO, MY NAME IS SOUMIK'

In [86]:
s.split()

['hello,', 'my', 'name', 'is', 'Soumik']

In [87]:
tweet = 'Go Sports! #Sports'

In [88]:
tweet.split() # By default, it will split the string on basis on empty space

['Go', 'Sports!', '#Sports']

In [90]:
tweet.split('#') # If we enter a parameter '#', we split the string whenever we encounter '#'.

['Go Sports! ', 'Sports']

In [91]:
d = {'k1':1, 'k2':2}

In [92]:
d

{'k1': 1, 'k2': 2}

In [93]:
d.keys()

dict_keys(['k1', 'k2'])

In [94]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [95]:
d.values()

dict_values([1, 2])

In [96]:
lst = [1,2,3]

In [97]:
lst.pop()

3

In [98]:
lst

[1, 2]

In [99]:
item = lst.pop()

In [100]:
lst

[1]